.left-title{
    text-align: left; 
}
.text-left-title{
    color: #1991af;
}
.linking{
    color:pink;
}
.text-middle-title{
    margin-top: -0px;
}

.searchResult{
    background-color: rgb(206, 177, 123);
    color:#0bca4b;
    border-radius: 5px;
}
.searchResultDiv{
    margin-bottom: 15px;
}
.div-search{
    margin-top: -12px;
}
.smaller-title{
    color: whitesmoke;
}
.label-style{
    margin-top:5px;
}
.formStyle{
    background: url("/assets/images/backgrounds/background7.jpg") no-repeat;
    background-size: 100%;
}
.formStyle2{
    background-color:#ddebc6 ;
    background-size: 100%;
}

.new-icon-style{
    margin-top: 5px;
    font-size: 30px;
    color:#15b63d;
    
}