.left-title{
    text-align: left; 
}
.text-left-title{
    color: #1991af;
}
.linking{
    color:pink;
}
.text-middle-title{
    margin-top: -0px;
}

.searchResult{
    background-color: rgb(252, 201, 63);
    border-radius: 5px;
    color: black;
   
}
.searchResultStyle{
    background-color: rgb(252, 201, 63);
    border-radius: 5px;
    color: black;
   
}
.searchResultDiv{
    margin-bottom: 15px;
}
.div-search{
    margin-top: -12px;
}
.smaller-title{
    color: whitesmoke;
}
.iconValidation{
    font-size: 30px;
}