.left-title{
    text-align: left; 
}
.text-left-title{
    color: #1991af;
}
.linking{
    color:pink;
}
.text-middle-title{
    margin-top: -0px;
}

.searchResult{
    background-color: rgb(206, 177, 123);
    color:#0bca4b;
    border-radius: 5px;
}
.searchResultDiv{
    margin-bottom: 15px;
}
.div-search{
    margin-top: -12px;
}
.smaller-title{
    color: whitesmoke;
}
.label-style{
    margin-top:5px;
}
.formStyle{
    background: url("/assets/images/backgrounds/background7.jpg") ;
    background-size: 100%;

}
.formStyle1{
    background-color:#eff7df;
    background-size: 100%;

}
.new-icon-style{
    margin-top: 5px;
    font-size: 30px;
    color:#15b63d;
    
}
.row{
    font-size: 12px;
}






.styleAppBar{
    text-align:'right';
    background-color:#55acd3
}
.divAppBar{
    margin-top: 10px;
}
.imageModifier{
    width:30px
}
.contentReboisementDetails{
    margin-top: 0px;
    font-family:'Helvetica';
    
}

.labelContent{
    margin-top: 15px;
    color:teal;
    font-weight: 400;
}
.contentReboisementDetails{
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 30px;
}
.description-div{
    margin-top: 17px;
}

.labelDetailsPlants{
    text-align: left;
}
