.imgLogo{
    max-width: 180px;
    border-radius: 50%;
    
}
.mainContainer{
    background-color: #fcffe6;
    border-radius: 1px;
}
.loginStyleAncien{
    background: url("/assets/images/backgrounds/background3.jpg") no-repeat;
    background-size: 100%;
    background-color: black;
}
.loginStyle{
  
    background-size: 100%;
    background-color: rgb(23, 46, 17);
}
.mainContainer1{
    background-color: rgb(253, 253, 253);
    border-radius: 10px;
}
.loginStyle1{
    background-color: rgb(127, 158, 114);
    background-size: 100%;
    
}