.logo-img{
    max-width: 50px;
    border-radius: 50%;
    margin-top: 0px;
}
.title-img{
    max-width: 150px;
}
.logo-bar{
    background-color: #10471e;
}
.grand-title{
    color:whitesmoke;
    margin-top:15px;
  
}
.top-menu{
    padding: 0; margin: 0;
	text-align: center; /* centrer le texte */
}
.top-menu-li{
    display: inline;
    text-align: center;

    list-style: none; /* nécessaire pour IE7 */

}
.under-top-menu{
    display:inline-table;
    text-align:center;
}