.liDashboard{
    padding: 70px 0 0;
}
.sidebarproperty{
    text-align: left;
    background-color: rgb(233, 238, 225);
    
}
.side-menu-child{
    background-color:  rgb(255, 255, 255);
}
.side-menu-child-li{
    margin-left: 10px;
    
}
.side-menu-child-li:hover {
    background-color:  #f0c27d;
    border-radius: 10px;
  }
