.title-infowindow{
    color:#941837;
}
.link-style{
    text-decoration: underline;
}

.non-valid{
    background-color:#f8d5b4
    
}
.valid{background-color:#a5cc9a}
.p-non-valid{
    color: red;
}