.left-title{
    text-align: left; 
}
.text-left-title{
    color: #1991af;
}
.linking{
    color:pink;
}
.text-middle-title{
    margin-top: -0px;
}

.icon-dashboard{
    font-size: 25px;
    background-color: transparent;
    color: #921b34;
}

.card:hover{ 
    position: relative; 
    top: -10px;
    
}

.white-box{
    border-radius: 5px;
}
.text-span{
    color: whitesmoke;
}

.backgroung-card-1{
    background-color: #2493c7;
}
.backgroung-card-2{
    background-color: #7ace4c;
}
.backgroung-card-3{
    background-color: #ec964e;
}

.map{
    height:100
}

.title-infowindow{
    color:#941837;
}
.link-style{
    text-decoration: underline;
}

.non-valid{
    background-color:#f8d5b4;
    text-align:center;

    
}
.valid{
    background-color:#a5cc9a;
    text-align:center;
}
.p-non-valid{
    color: red;
    
}